.wrapper {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0;
	background: #5bebee;
	min-height: 100vh;
}

.title{
	max-width: 400px;
	margin: 0 auto;
	text-align: center;
	margin-top: 0;
	padding: 20px 0 10px 0;
	border-bottom: 4px solid #5d615f;
	font-family: arial;
	font-size: 30px;
}

.photo{
	border-radius: 40px;
	width: 500px;

	
}

.content{
	max-width: 800px;
	margin: 0 auto;
}

.title3{
	text-align: center;
	border: 2px solid darkgreen;
}

.title3size{
	max-width: 300px;
	margin: 10px auto;
}

.title3:hover{
	cursor: pointer;
	padding: 10px;
	text-decoration: underline;
	border-radius: 10px;
	background-color:  greenyellow;

}

a{
	color: black;
	text-decoration: none;
}

#link_{
	font-size: 20px;
	text-decoration: none;
	color: #6f4d78;
	border: 2px solid black;
	border-radius: 5px;
	padding: 5px;
	background-color: #55a6f2;
	text-transform: uppercase;
}

#link_:hover{
	margin-left: 5px;
}


.photo:hover{
	border: 5px solid darkblue;
	cursor: pointer;
}

.button_{
	font-size: 30px;
	border-radius: 20px;
	margin: 0 360px;
}